.homepage-size {
    width: 600px;
    height: 400px;
}

.header {
    display: flex;
    justify-content: space-between; /* Pushes elements to opposite sides */
    align-items: center; /* Aligns items vertically */
}

.account-stuff {
    text-align: right;
}

.btn-sign-in,
.btn-sign-up {
    color: black;
    text-decoration: none;
    border-radius: 12px;
    font-size: 20px;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
}

.btn-sign-in:visited,
.btn-sign-up:visited {
    color: black;
    text-decoration: none;
}

.btn-sign-in {
    background-color: palegreen;
}

.btn-sign-up {
    background-color: cyan;
}

/*Make text with links to other pages slightly bigger and stand out*/
.page-links {
    font-size: 22px;
}